*{
    margin: 0vh;
    padding: 0vh;
    box-sizing: border-box;
    font-family: Georgia, Times, 'Times New Roman';
}

body{
    background-color: #f4f4f4;
    color: #333333;
    line-height: 1.6;
}

.foto-inicial{
    display: flex;   
    padding: 3vh 0vh 0vh 5vh;
    width: 40vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #f4f4f4;
    padding: 1rem 2rem;
    position: relative;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.hamburger{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.bar{
    height: 3px;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.nav-menu{
    display: flex;
    list-style: none;
}

.nav-item{
    margin-left: 2rem;
}

.nav-link{
    color: #f4f4f4;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ddd;
}

main{
    padding: 2rem;
}

