.form{
    border: solid 1px #ccc;
}

input, textarea{
    width: 100%;
    margin-bottom: 15px;
    padding:10px ;
    border: solid 2px #7e7d7d;
    border-radius: 5px;
    box-sizing: border-box;
}

.contato{
    max-width: 600px;
    margin:0 auto ;
    padding: 20px;
    border: solid 2px;
    border-radius: 10px;
}

.titulo-formulario{
    text-align: center;
    margin-bottom: 20px;
}

#contactForm input,
#contactform button{
    widows: 100%;
    padding: 10px;
}

